# https://www.shellcheck.net/wiki/Directive#shellcheckrc-file

shell=bash

# Look for 'source'd files relative to the checked script
source-path=SCRIPTDIR

# Allow opening any 'source'd file, even if not specified as input
external-sources=true

# Turn on warnings for unassigned uppercase variables
enable=check-unassigned-uppercase

# Allow A && B || C (common in build scripts)
disable=SC2015

# disable source warnings (handled by source-path)
disable=SC1090

# disable unbound variable warnings (common with env vars in build scripts)
disable=SC2154

# disable local variable declaration warnings
disable=SC2155