# https://www.shellcheck.net/wiki/Directive#shellcheckrc-file

shell=bash

# Look for 'source'd files relative to the checked script,
# and also look for absolute paths in /mnt/chroot
source-path=SCRIPTDIR
source=libs.sh
source=libs/zlib.s

# Since 0.9.0, values can be quoted with '' or "" to allow spaces
#source-path="My Documents/scripts"

# Allow opening any 'source'd file, even if not specified as input
external-sources=libs.sh

# Turn on warnings for unquoted variables with safe values
#enable=quote-safe-variables

# Turn on warnings for unassigned uppercase variables
enable=check-unassigned-uppercase

# Allow [ ! -z foo ] instead of suggesting -n
#disable=SC2236

# Allow A && B || C
disable=SC2015

# disable source warnings
disable=SC1090
