# shellcheck disable=SC2034

#1. build with remote host
export REMOTE_HOST=
export REMOTE_WORKDIR="${REMOTE_WORKDIR:-cmdlets}"

#2. build with docker [default]
export DOCKER_IMAGE="${DOCKER_IMAGE:-lcr.io/mtdcy/builder:ubuntu-22.04}"

case "$(uname -m)" in
    aarch64 | arm64)
        export DOCKER_PLATFORM=linux/arm64
        ;;
    *)
        export DOCKER_PLATFORM=linux/amd64
        ;;
esac

# mirrors
export CMDLET_MIRRORS="${CMDLET_MIRRORS:-https://mirrors.mtdcy.top}"

# vim:ft=sh
