---
name: Build cmdlets with Github

on:
  push:
    paths:
      - libs/**.s
    branches:
      - main

  workflow_dispatch:
    inputs:
      cmdlets:
        type: string
        description: Which cmdlets to build

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch packages
        shell: bash
        run: |-
          set -ex

          export CMDLET_MIRRORS="${{ vars.MIRRORS }}"

          targets=(
            # apple
            arm64-apple-darwin 
            # x86_64-apple-darwin
            # linux
            x86_64-linux-gnu
            aarch64-linux-gnu
          )
          cmdlets=( "${{ github.event.inputs.cmdlets }}" )
          if test -z "${cmdlets[*]}"; then
            for x in "${targets[@]}"; do
              cmdlets+=( $(bash libs.sh target.changed "$x") )
            done
            IFS=' ' read -r -a cmdlets < <(printf '%s\n' "${cmdlets[@]}" | sort -u | xargs)
          fi

          ./.github/scripts/prepare.sh "${cmdlets[@]}"

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: |
            packages

  build:
    needs: prepare
    runs-on: ${{ matrix.machine }}
    container: ${{ matrix.builder }}
    if: ${{ vars.LOCAL_REGISTRY == '' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # for x86_64-linux-gnu
          - machine: ubuntu-22.04
            builder: ghcr.io/mtdcy/builder:ubuntu-22.04
          # for aarch64-linux-gnu
          - machine: ubuntu-22.04-arm
            builder: ghcr.io/mtdcy/builder:ubuntu-22.04
          # for arm64-apple-darwin
          - machine: macos-15
          # for x86_64-apple-darwin
          - machine: macos-15-intel

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          fetch-depth: 0

      - name: Download packages
        uses: actions/download-artifact@v4
        with:
          name: packages
          path: |
            packages

      - name: Build
        id: build
        shell: bash
        run: |-
          set -ex

          export CMDLET_REPO=flat+https://github.com/mtdcy/cmdlets/releases/download

          # fix: detected dubious ownership in repository
          git config --global --add safe.directory '*'
          git config user.name "bot"
          git config user.email "bot@noreply.mtdcy.top"

          ./.github/scripts/build.sh "${{ github.event.inputs.cmdlets }}"

      - name: Release
        uses: softprops/action-gh-release@v2
        if: always()
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          tag_name: ${{ steps.build.outputs.arch }}
          name: ${{ steps.build.outputs.arch }}
          body: ${{ steps.build.outputs.arch }}
          append_body: false
          draft: false
          prerelease: false
          make_latest: ${{ steps.build.outputs.arch == 'x86_64-linux-gnu' }}
          files: |-
            prebuilts/${{ steps.build.outputs.arch }}/cmdlets.manifest
            prebuilts/${{ steps.build.outputs.arch }}/*/*.tar.gz
            logs/*.tar.gz
