---
name: Build cmdlets

on:
  push:
    paths:
      - libs/**.s
    branches:
      - mingw64

  workflow_dispatch:
    inputs:
      cmdlets:
        type: string
        description: Which cmdlets to build

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch packages
        shell: bash
        run: |-
          export CMDLET_MIRRORS="${{ vars.MIRRORS }}"

          ./.github/scripts/prepare.sh "${{ github.event.inputs.cmdlets }}"

      - name: Upload packages
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: |
            packages

      - name: Deploy (rsync)
        # uses: burnett01/rsync-deployments@7.0.1
        uses: https://git.mtdcy.top/actions/rsync@7.0.1
        with:
          switches: -avc
          path: packages/
          remote_path: ${{ vars.ARTIFACTS_REMOTE_PATH }}/packages/
          remote_host: ${{ vars.ARTIFACTS_REMOTE_HOST }}
          remote_port: ${{ vars.ARTIFACTS_REMOTE_PORT }}
          remote_user: ${{ vars.ARTIFACTS_REMOTE_USER }}
          remote_key: ${{ secrets.ARTIFACTS_REMOTE_TOKEN }}

  build:
    needs: prepare
    runs-on: ${{ matrix.machine }}
    container: ${{ matrix.builder }}
    if: ${{ vars.LOCAL_REGISTRY == 'lcr.io' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # for x86_64-w64-mingw32
          - machine: ubuntu-latest
            builder: lcr.io/mtdcy/builder:mingw64-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.COMMIT_TOKEN }}
          fetch-depth: 0

      - name: Download packages
        uses: actions/download-artifact@v3
        with:
          name: packages
          path: |
            packages

      - name: Build
        shell: bash
        run: |-
          export CMDLET_MIRRORS="${{ vars.MIRRORS }}"
          export CL_NOTIFY="${{ vars.NOTIFY_WEBHOOK }}${{ secrets.NOTIFY_TOKEN }}"

          # fix: detected dubious ownership in repository
          git config --global --add safe.directory '*'
          git config user.name "bot"
          git config user.email "bot@noreply.mtdcy.top"

          make tag  # always tag as release is always

          ./.github/scripts/build.sh "${{ github.event.inputs.cmdlets }}" 

      - name: Release
        if: always()
        shell: bash
        run: |-
          export CL_ARTIFACTS_TOKEN="${{ secrets.ARTIFACTS_REMOTE_TOKEN }}"

          ./.github/scripts/rsync.sh "${{ vars.ARTIFACTS_REMOTE_USER }}@${{ vars.ARTIFACTS_REMOTE_HOST }}:${{ vars.ARTIFACTS_REMOTE_PORT }}:${{ vars.ARTIFACTS_REMOTE_PATH }}"
