---
name: Build cmdlets

on:
  push:
    paths:
      - libs/**.s
    branches:
      - mingw64

  workflow_dispatch:
    inputs:
      cmdlets:
        type: string
        description: Which cmdlets to build

jobs:
  build:
    runs-on: ${{ matrix.machine }}
    container:
      image: ${{ matrix.builder }}
      options: --privileged
    if: ${{ vars.LOCAL_REGISTRY == 'lcr.io' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # for x86_64-w64-mingw32
          - machine: ubuntu-host
            builder: lcr.io/mtdcy/builder:mingw64-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.COMMIT_TOKEN }}
          fetch-depth: 0

      - name: Build
        shell: bash
        run: |-
          set -ex 

          export CMDLET_MIRRORS="${{ vars.MIRRORS }}"
          export CL_NOTIFY="${{ vars.NOTIFY_WEBHOOK }}${{ secrets.NOTIFY_TOKEN }}"

          export CMDLET_TARGET="$(uname -m)-w64-mingw32"

          which nproc && export CMDLET_BUILD_NJOBS=$(nproc) || true

          # fix: detected dubious ownership in repository
          git config --global --add safe.directory '*'
          git config user.name "bot"
          git config user.email "bot@noreply.mtdcy.top"

          ./.github/scripts/build.sh "${{ github.event.inputs.cmdlets }}"

      - name: Release
        if: always()
        shell: bash
        run: |-
          export CL_ARTIFACTS_TOKEN="${{ secrets.ARTIFACTS_REMOTE_TOKEN }}"

          ./.github/scripts/rsync.sh "${{ vars.ARTIFACTS_REMOTE_USER }}@${{ vars.ARTIFACTS_REMOTE_HOST }}:${{ vars.ARTIFACTS_REMOTE_PORT }}:${{ vars.ARTIFACTS_REMOTE_PATH }}"
