---
name: Build cmdlets latest

on:
  push:
    paths:
      - libs/**.s
    branches:
      - main

  workflow_dispatch:
    inputs:
      cmdlets:
        type: string
        description: Which cmdlets to build

jobs:
  build-with-docker:
    runs-on: ubuntu-latest
    container: ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/builder:${{ matrix.container }}
    strategy:
      matrix:
        container:
          - ucrt64-latest
          - mingw64-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.READ_TOKEN }}
          fetch-depth: 2

      - name: prepare
        run: |-
          ln -sfv /var/run /msys64/var/run
          chown -R buildbot:buildbot .

      - name: Build
        shell: su buildbot -c "msys2 {0}"
        run: |-
          export CL_ARTIFACTS="${{ vars.ARTIFACTS_REMOTE_USER }}@${{ vars.ARTIFACTS_REMOTE_HOST }}:${{ vars.ARTIFACTS_REMOTE_PORT }}:${{ vars.ARTIFACTS_REMOTE_PATH }}"
          export CL_ARTIFACTS_TOKEN="${{ secrets.ARTIFACTS_REMOTE_TOKEN }}"
          export CL_NOTIFY="${{ vars.NOTIFY_WEBHOOK }}${{ secrets.NOTIFY_TOKEN }}"
          export CL_MIRRORS="${{ vars.MIRRORS }}"

          # fix: detected dubious ownership in repository
          git config --global --add safe.directory '*'
          git config user.name "bot"
          git config user.email "bot@noreply.mtdcy.top"

          ./.github/scripts/build.sh "${{ github.event.inputs.cmdlets }}"
