---
name: Update cmdlets

on:
  schedule:
    - cron: '0 0 * * *'  # daily

# push:
#   paths: null
#   branches:
#     - main

  workflow_dispatch: null

jobs:
  update:
    runs-on: ubuntu-latest
    container: ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/builder:ubuntu-latest
    steps:
      - name: Checkout (main)
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.COMMIT_TOKEN }}

      - name: Update
        shell: bash
        run: |
          pwd -P

          git config --global user.name "bot"
          git config --global user.email "bot@mtdcy.top"
          git config --global --add safe.directory '*'

          ./.github/scripts/update.sh && git push || true

      # sync only packages
      - name: Deploy (packages)
        if: ${{ vars.ARTIFACTS_REMOTE_HOST != '' }}
        uses: actions/rsync@7.0.1
        with:
          switches: -avc
          path: packages/
          remote_path: ${{ vars.ARTIFACTS_REMOTE_PATH }}/packages/
          remote_host: ${{ vars.ARTIFACTS_REMOTE_HOST }}
          remote_port: ${{ vars.ARTIFACTS_REMOTE_PORT }}
          remote_user: ${{ vars.ARTIFACTS_REMOTE_USER }}
          remote_key: ${{ secrets.ARTIFACTS_REMOTE_TOKEN }}
